@model UltimateModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="input">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <form asp-controller="Home" asp-action="Index" method="post" runat="server">
                    <div class="card-header">
                        <div class="dropdown">

                            <label class="form-label">Select the Algorithm : </label>
                            <select class="form-select" asp-items="Model.algoss.AlgosSelectList" asp-for="algoss.SelectedAlgoDropDown" required>
                                <option value="NoSelectedValue">-- Please Select Algorithm --</option>
                            </select>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">Source City : </label>
                            <select class="form-select" asp-items="Model.routes.CitiesSelectList" asp-for="routes.SelectedCitySource" required>
                                <option value="NoSelectedValue">-- Please Select Source City --</option>
                            </select>

                            <div class="dest">
                                <label class="form-label ">Destination City : </label>
                                <select class="form-select" asp-items="Model.routes.CitiesSelectList" asp-for="routes.SelectedCityDest" required>
                                    <option value="NoSelectedValue">-- Please Select Destination City --</option>
                                </select>

                            </div>
                        </div>

                        <div class="mb-4 btn-con">
                            <button type="submit" class="btn">Execute</button>
                        </div>
                        </div>
                </form>
            </div>

            </div>
            <hr />
            <div class="abc">
                <label class="form-label output">OUTPUT</label>
                <textarea class=" out-out"></textarea>
            </div>
        </div>
    </div>
