@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="cards123">
    <article class="card222 card--1">
        <div class="card__info-hover">
        </div>
        <div class="card__img"></div>
        <a href="https://www.geeksforgeeks.org/dijkstras-shortest-path-algorithm-greedy-algo-7/" class="card_link">
            <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
            <span class="card__title"> Dijkstra's Algorithm</span>
            <h3 class="card__category">Dijkstra's algorithm is an algorithm for finding the shortest paths between nodes in a graph</h3>
            <span class="card__by">by <a href="https://www.geeksforgeeks.org/dijkstras-shortest-path-algorithm-greedy-algo-7/" class="card__author" title="author">Edsger Wybe Dijkstra</a></span>
        </div>
    </article>


    <article class="card222 card--2">
        <div class="card__info-hover">
        </div>
        <div class="card__img"></div>
        <a href="https://www.geeksforgeeks.org/floyd-warshall-algorithm-dp-16/" class="card_link">
            <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
            <span class="card__title"> Floyd–Warshall algorithm</span>
            <h3 class="card__category">The Floyd–Warshall algorithm is an algorithm for finding shortest paths in a directed weighted graph with positive or negative edge weights.</h3>
            <span class="card__by">by <a href="https://www.geeksforgeeks.org/floyd-warshall-algorithm-dp-16/" class="card__author" title="author">Robert Floyd</a></span>
        </div>
    </article>

    <article class="card222 card--3">
        <div class="card__info-hover">
        </div>
        <div class="card__img"></div>
        <a href="https://www.geeksforgeeks.org/genetic-algorithms/" class="card_link">
            <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
            <span class="card__title">Genetic Algorithms and heuristics</span>
            <h3 class="card__category">A genetic algorithm is a search heuristic that is inspired by Charles Darwin's theory of natural evolution</h3>
            <span class="card__by">by <a href="https://www.geeksforgeeks.org/genetic-algorithms/" class="card__author" title="author">John Holland</a></span>
        </div>
    </article>

    <article class="card222 card--4">
        <div class="card__info-hover">
        </div>
        <div class="card__img"></div>
        <a href="https://www.geeksforgeeks.org/travelling-salesman-problem-using-dynamic-programming/" class="card_link">
            <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
            <span class="card__title">Traveling Salesman</span>
            <h3 class="card__category">
                The traveling salesman problem (TSP) is an algorithmic problem tasked with finding the shortest route between a set of points and locations that must be visited
            </h3>
            <span class="card__by">by <a href="https://www.geeksforgeeks.org/travelling-salesman-problem-using-dynamic-programming/" class="card__author" title="author"> Ailsa H. Land</a></span>
        </div>
    </article>



</section>