/*
button {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    color: #fff;
}

.btn-con {
    width: 160px;
    height: 35px;
    background: #b300ff;
    color: #fff;
    margin-left: 250px;
    align-items:center;
}

.output {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px;
    margin-left: 150px;
    color: #000;
}
body{
    text-align: center;
    margin-left:auto;
}*/

.btn {
    background-color: deepskyblue;
    
    color: white;
    margin-left: 90%;
}

    .btn:hover {
        color: white;
        background-color: darkblue;
    }

.form-control {
    height: 800px;
}

.dest {
    float: right;
}

.abc {
    color: black;
    height: 300px;
    width: 100%;
}

.abc label{
    font-weight:500;
    font-size: 1.5rem;
    margin-top: 20px;
}
